{% extends 'theme/extends/backend.html' %}

{% block title %}
    Add Stream
{% endblock %}

{% block head %}
    {#    <link rel="stylesheet" href="{{ url_for('theme.static', filename='css/quill.snow.css') }}">#}
    {#    <script defer src="{{ url_for('theme.static', filename='js/quilljs.js') }}"></script>#}
{% endblock %}

{% block endpage_js %}
    {#    {%- include 'streams/includes/alpine:data:streams_add.html' %}#}
{% endblock %}

{% block container %}
    <div x-data>
        <section>
            <div class="box">
                <div class="box-row u-space-between">
                    <a class="button" href="{{ url_for('backend.streams.index') }}">Cancel</a>
                    <button @click="$refs.add_stream.submit()">
                        Add Stream
                    </button>
                </div>
            </div>
        </section>
        <section>
            <form name="add_stream" x-ref="add_stream" method="post">
                <div class="box">
                    <label for="title">Title</label>
                    <input
                            class="u-w100"
                            id="title"
                            name="title"
                            type="text">

                    <label for="markdown">Summary (Markdown)</label>
                    <textarea
                            name="markdown"
                            id="markdown"
                            placeholder="Paste your markdown here..."
                            cols="30"
                            rows="10"
                            required
                    ></textarea>
                </div>
            </form>
        </section>
    </div>
{% endblock %}
