{% extends 'theme/extends/backend.html' %}

{% block title %}
    Streams
{% endblock %}

{% block head %}
{% endblock %}

{% block container %}
    <section>
        <div class="box">
            <div class="box-row u-space-between">
                <form>
                    <button type="submit">Search</button>
                    <input class="u-m-0" name="admin-tutorial-search" type="text">
                </form>
                <a class="button" href="{{ url_for('backend.streams.add') }}">Add Stream</a>
            </div>
        </div>
    </section>
    <section>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Time</th>
                <th>Clicks</th>
                <th>link</th>
                <th style="text-align: center">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for row in q_streams %}
                <tr>
                    <td>
                        {{ row.title }}
                    </td>
                    <td>
                        {{ row.slug }}
                    </td>
                    <td>
                        {% for tag in row.rel_tutorial_tag_membership %}
                            {{ tag.rel_tutorial_tag.tag }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ row.clicks }}
                    </td>
                    <td>
                        {{ row.created }}
                    </td>
                    <td style="text-align: center">
                        <a href="{{ url_for('backend.tutorials.edit', slug=row.slug) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
