{% extends 'theme/extends/backend.html' %}

{% block title %}
    Add Resource
{% endblock %}

{% block head %}
{% endblock %}

{% block endpage_js %}
    {%- include 'resources/includes/alpine:data:resources_add.html' %}
{% endblock %}


{% block container %}
    <div x-data="resources_add">
        <form name="add_resource" x-ref="add_resource" method="post" enctype="multipart/form-data">
            <section>
                <div class="box">
                    <div class="box-row u-space-between">
                        <a class="button" href="{{ url_for('backend.resources.index') }}">Cancel</a>
                        <button
                                @click="$refs.add_resource.submit()"
                                x-bind:disabled="slug_exists || slug.length < 1"
                        >
                            Add Resource
                        </button>
                    </div>
                </div>
            </section>
            <section>
                <div class="box">

                    <label for="title">Title</label>
                    <input
                            class="u-w100"
                            id="title"
                            name="title"
                            type="text"
                            x-model="title"
                            @input.debounce.200ms="slugger(); check_if_slug_exists()">

                    <p x-show="slug_exists" class="u-red" x-cloak>Title already exists, choose another Title!</p>

                    <label for="slug">Slug</label>
                    <input
                            class="u-w100"
                            id="slug"
                            name="slug"
                            type="text"
                            x-model="slug"
                            readonly
                    >
                    <label for="markdown">Summary (Markdown)</label>
                    <textarea
                            name="markdown"
                            id="markdown"
                            placeholder="Paste your markdown here..."
                            cols="30"
                            rows="10"
                            required
                    ></textarea>

                </div>
            </section>
        </form>
    </div>
{% endblock %}
