<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %} | Flask-Planet</title>
    <link rel="shortcut icon" href="{{ url_for('theme.static', filename='ico/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('theme.static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('theme.static', filename='css/milligram.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('theme.static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('backend.static', filename='simplemde.min.css') }}">
    <script src="{{ url_for('theme.static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('backend.static', filename='simplemde.min.js') }}"></script>
    <script src="{{ url_for('backend.static', filename='backend:store.js') }}"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>
{% block global %}

{% endblock %}
</body>

</html>
