<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %} | Admin | Flask-Planet</title>
    <link rel="shortcut icon" href="{{ url_for('theme.static', filename='ico/favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('theme.static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('theme.static', filename='css/main.css') }}">

    {% block head %}{% endblock %}
    {% block alpine_resources %}{% endblock %}
    <script defer src="{{ url_for('theme.static', filename='js/alpinejs.collapse.min.js') }}"></script>
    <script defer src="{{ url_for('theme.static', filename='js/alpinejs.min.js') }}"></script>
</head>

<body>
{% with messages = get_flashed_messages() %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert-flash" x-data x-init="setTimeout(() => {$el.remove()}, 3000)" @mouseover="$el.remove()">
                <div class="flash-text">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endwith %}

{% include 'theme/includes/backend-menu.html' %}



{% block global %}
    {% block container %}
    {% endblock %}
{% endblock %}
</body>

{% block endpage_js %}{% endblock %}

</html>
