{% extends 'theme/extends/frontend.html' %}

{% block title %}
    All Streams
{% endblock %}

{% set pages_block %}
{% if page > 1 %}


    {% set back_url = url_for("frontend.www.all_streams", page=page - 1) %}


    <a href="{{ back_url }}"
       class="button"
       style="padding-left: 10px; padding-right: 10px;">

        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
             style="margin-bottom: -4px"
             stroke-linejoin="round" class="feather feather-arrow-left">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
        </svg>

    </a>

{% else %}

    <a href="#" disabled="disabled"
       class="button"
       style="padding-left: 10px; padding-right: 10px;">

        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
             style="margin-bottom: -4px"
             stroke-linejoin="round" class="feather feather-arrow-left">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
        </svg>

    </a>

{% endif %}

<button disabled class="button-clear">
    page {{ page }} / {{ pages }} pages
</button>

{% if page != pages and pages != 0 %}

    {% set forw_url = url_for("frontend.www.all_streams", page=page + 1) %}

    <a href="{{ forw_url }}"
       class="button"
       style="padding-left: 10px; padding-right: 10px;">

        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
             style="margin-bottom: -4px"
             stroke-linejoin="round" class="feather feather-arrow-right">
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <polyline points="12 5 19 12 12 19"></polyline>
        </svg>

    </a>

{% else %}

    <a href="#" disabled="disabled"
       class="button"
       style="padding-left: 10px; padding-right: 10px;">

        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
             style="margin-bottom: -4px"
             stroke-linejoin="round" class="feather feather-arrow-right">
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <polyline points="12 5 19 12 12 19"></polyline>
        </svg>

    </a>

{% endif %}
{% endset %}

{% block container %}

    {% if pages > 1 %}
        <section>
            <div class="box ms-1 me-1" style="color: whitesmoke">

                <section class="mb-0 mt-0 u-flex u-space-between">
                    <div>
                        {{ pages_block }}
                    </div>
                </section>
            </div>
        </section>
    {% endif %}

    <section>
        {% if streams %}
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Link</th>
                </tr>
                </thead>
                <tbody>
                {% for stream in streams %}
                    <tr>
                        <td>{{ stream.title }}</td>
                        <td>{{ stream.schedule|stream_date }}</td>
                        <td>{{ stream.schedule|stream_time }} (GMT)</td>
                        <td>
                            <a href="{{ stream.url_link }}" rel="noopener noreferrer">
                                {{ stream.display_url_link or stream.url_link }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </section>
{% endblock %}
