{% extends 'theme/extends/frontend.html' %}

{% block title %}
    News - {{ article.title }}
{% endblock %}

{% block container %}
    <section class="mt-4">
        <a href="{{ url_for('frontend.www.news', **url_args) }}" class="px-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-arrow-left">
                <line x1="19" y1="12" x2="5" y2="12"></line>
                <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
            Back to All News
        </a>
    </section>
    <section>
        <article class="box">

            <div class="box-row-react u-space-between">
                <div class="box-col">
                    <article>
                        <h1 class="title">{{ article.title }}</h1>
                        {% if article.author_link %}
                            <p class="author">Written by: <a href="{{ article.author_link }}" target="_blank">
                                {{ article.author }}</a></p>

                        {% else %}
                            <p class="author">Author: {{ article.author }}</p>

                        {% endif %}
                        <p class="author" style="margin: 0">Published on: {{ article.release_date|stream_date }}</p>
                    </article>
                </div>
                {% if article.thumbnail %}
                    <div class="box-col">
                        <img src="{{ url_for("news_cdn", news_id=article.news_id, filename=article.thumbnail or 'none') }}"
                             style="max-width: 400px;"
                             alt="{{ article.title }} Thumbnail">
                    </div>
                {% endif %}
            </div>

            <div class="box-col mt-5">
                <article class="box-display">
                    {{ article.markup|safe }}
                </article>

            </div>
        </article>
    </section>
{% endblock %}
