{% extends 'theme/extends/frontend.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('theme.static', filename='css/highlightjs.atom-one-dark.css') }}">
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block global %}
    <section class="mt-4">
        <article class="box box-flex">
            <div class="box-col">
                <h1 class="title">{{ guide.title }}</h1>
                {% if guide.summary %}
                    <p class="summary">{{ guide.summary }}</p>
                {% endif %}
                <p class="author">Guide by: {{ guide.rel_user.display_name }}</p>
                <div class="mb-3">
                    {% for tag in guide.rel_guide_tag_membership %}
                        <span class="tag-no-shadow">
                            {{ tag.rel_guide_tag.tag }}
                        </span>
                    {% endfor %}
                </div>
                <a class="mb-2" href="{{ url_for('frontend.www.download_markdown', slug=guide.slug) }}">
                    {{ guide.markdown_file }} &downarrow;</a>
            </div>
        </article>
    </section>
    <section class="mt-4">
        <article class="box markdown_style">
            {{ guide.markup | safe }}
        </article>
    </section>
{% endblock %}
