{% extends 'theme/extends/frontend.html' %}

{% block container %}
    <section class="mt-4">
        <div class="box-group box-group-align-center box-group-grid-lg-3">
            {% for guide in guides %}
                <article class="box box-flex">
                    <div class="box-col">
                        <h6>{{ guide.title }}</h6>
                        {% if guide.summary %}
                            <p>{{ guide.summary }}</p>
                        {% endif %}
                    </div>
                    <div class="mb-2 ms-2 me-2 mb-3">
                        {% for tag in guide.rel_guide_tag_membership %}
                            <span class="tag-no-shadow">
                                {{ tag.rel_guide_tag.tag }}
                            </span>
                        {% endfor %}
                    </div>
                    <div class="box-col">
                        <a class="button" href="{{ url_for('frontend.www.guide', slug=guide.slug) }}">
                            View Guide
                        </a>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
