{% extends 'theme/extends/frontend.html' %}

{% block container %}
    {% if upcoming_streams %}
        <section class="mt-5">
            <h5 class="slight-header header-italic" style="padding-left: 10px;">Scheduled</h5>
            {% for stream in upcoming_streams %}
                <article class="box" style="margin-bottom: 20px;">
                    <div class="box-group box-group-grid-lg-2">
                        <div class="box-col">
                            <img class="u-w100" src="{{ stream_cdn(stream.stream_id, stream.thumbnail) }}"
                                 alt="{{ stream.title }} Thumbnail">
                        </div>
                        <div class="box-col">
                            <h6>{{ stream.title }}</h6>
                            <ul class="box-list">
                                <li>
                                    <h1>Date:</h1>
                                    <p>{{ stream.schedule|stream_date }}</p>
                                </li>
                                <li>
                                    <h1>Time:</h1>
                                    <p>{{ stream.schedule|stream_time }} (GMT)</p>
                                </li>
                                <li>
                                    <h1>Link:</h1>
                                    <p>
                                        <a href="{{ stream.url_link }}" rel="noopener noreferrer">
                                            {{ stream.display_url_link or stream.url_link }}
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% if stream.markup %}
                        <div class="box-col mt-4">
                            {{ stream.markup|safe }}
                        </div>
                    {% endif %}
                </article>
            {% endfor %}
        </section>
    {% endif %}

    <section class="mt-5">
        {% if most_recent_streams %}
            <h5 class="slight-header header-italic" style="padding-left: 10px;">Most Recent Stream(s)</h5>
            {% for stream in most_recent_streams %}
                <article class="box" style="margin-bottom: 20px;">
                    <div class="box-group box-group-grid-lg-2">
                        <div class="box-col">
                            <img class="u-w100"
                                 src="{{ stream_cdn(stream.stream_id, stream.thumbnail) }}"
                                 alt="{{ stream.title }} Thumbnail">
                        </div>
                        <div class="box-col">
                            <h6>{{ stream.title }}</h6>

                            <ul class="box-list">
                                <li>
                                    <h1>Date:</h1>
                                    <p>{{ stream.schedule|stream_date }}</p>
                                </li>
                                <li>
                                    <h1>Time:</h1>
                                    <p>{{ stream.schedule|stream_time }} (GMT)</p>
                                </li>
                                <li>
                                    <h1>Link:</h1>
                                    <p>
                                        <a href="{{ stream.url_link }}" rel="noopener noreferrer">
                                            {{ stream.display_url_link or stream.url_link }}
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% if stream.markup %}
                        <div class="box-col mt-4">
                            {{ stream.markup|safe }}
                        </div>
                    {% endif %}
                </article>
            {% endfor %}
        {% endif %}
    </section>

    <section>
        <div class="u-flex u-justify-center mt-4 mb-5">
            <a href="{{ url_for('frontend.www.all_streams') }}">
                View All Streams
            </a>
        </div>
    </section>

{% endblock %}
