{% extends 'theme/extends/frontend.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('theme.static', filename='highlightjs/highlightjs.atom-one-dark.css') }}">
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block global %}
    <section class="mt-4">
        <article class="box box-flex">
            <div class="box-col">
                <h1 class="title">{{ tutorial.title }}</h1>
                {% if tutorial.summary %}
                    <p class="summary">{{ tutorial.summary }}</p>
                {% endif %}
                <p class="author">Tutorial by: {{ tutorial.rel_user.display_name }}</p>
                <div class="mb-3">
                    {% for tag in tutorial.rel_tutorial_tag_membership %}
                        <span class="tag-no-shadow">
                            {{ tag.rel_tutorial_tag.tag }}
                        </span>
                    {% endfor %}
                </div>
                <a class="mb-2" href="{{ url_for('frontend.www.download_markdown', slug=tutorial.slug) }}">
                    {{ tutorial.markdown_file }} &downarrow;</a>
            </div>
        </article>
    </section>
    <section class="mt-4">
        <article class="box markup_display">
            {{ tutorial.markup | safe }}
        </article>
    </section>
{% endblock %}
