.drop-tag {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    color: #a9a9a9;
    width: 20px;
    height: 80px;
}
.drop-tag-over {
    display: inline-block;
    background-color: rgba(21, 25, 33, 0.2);
    color: #a9a9a9;
    padding: 8px 8px;
    margin-top: 8px;
    margin-right: 5px;
    width: 50px;
}
.tag {
    display: inline-block;
    background-color: #151921;
    color: #a9a9a9;
    padding: 8px 8px;
    margin-top: 8px;
    margin-right: 5px;
    box-shadow: 2px 2px 5px #000000;
}
.tag-no-shadow {
    display: inline-block;
    background-color: #151921;
    color: #a9a9a9;
    padding: 8px 8px;
    margin-top: 8px;
    margin-right: 5px;
}
.del_tag {
    padding: 2px 6px;
    margin-left: 5px;
    background-color: rgba(255, 0, 0, 0.1);
    cursor: pointer;
}