
/* _.css */

[x-cloak] {
    display: none !important;
}

body {
    background-color: #171b22;
}

a {
    color: #9b4dca;
    text-decoration: none
}

a:focus, a:hover {
    color: #606c76
}


/* buttons.css */

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit']
{
    background-color: rgba(155, 77, 202, 0.25);
    border: 0.1rem solid rgba(155, 77, 202, 0.5);
    color: #fff !important;
    padding: 0.6rem;
    text-transform: uppercase !important;
    text-align: center;
    box-shadow: 2px 2px 10px #000000;
    font-size: 0.8rem !important;
    cursor: pointer;
    border-radius: .2rem;
}


.button:active,
button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active
{
    background-color: rgba(155, 77, 202, 0.25);
    border: 0.1rem solid rgba(155, 77, 202, 0.5);
    color: #fff !important;
    padding: 0.6rem;
    text-transform: uppercase !important;
    box-shadow: none;
    font-size: 0.8rem !important;
    cursor: pointer;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover
{
    background-color: rgba(155, 77, 202, 0.4);
    border: 0.1rem solid rgba(155, 77, 202, 0.6);
    color: #fff;
    outline: 0
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled]
{
    cursor: default;
    opacity: .5
}

.button[disabled]:focus,
.button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type='button'][disabled]:focus,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:focus,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:focus,
input[type='submit'][disabled]:hover
{
    background-color: #9b4dca;
    border-color: #9b4dca
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline
{
    background-color: transparent;
    color: #9b4dca
}

.button.button-outline:focus,
.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover
{
    background-color: transparent;
    border-color: #606c76;
    color: #606c76
}

.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover
{
    border-color: inherit;
    color: #9b4dca
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear
{
    background-color: transparent;
    border-color: transparent;
    color: #9b4dca
}

.button.button-clear:focus,
.button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover
{
    background-color: transparent;
    border-color: transparent;
    color: #606c76
}

.button.button-clear[disabled]:focus,
.button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled]:hover,
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled]:hover,
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled]:hover
{
    color: #9b4dca
}

.button-black
{
    background-color: black;
    border-color: black;
}

.button-black.button-clear,
.button-black.button-outline
{
    background-color: transparent;
    color: black;
}

.button-black.button-clear
{
    border-color: transparent;
}

.button-small
{
    font-size: 1rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}


/* decorations.css */

.hero {
    text-align: center;
    padding: 80px;
}

.hero img {
    width: auto;
}

.header {
    color: whitesmoke;
}

.header-link {
    font-size: 1.6rem;
    font-weight: normal;
}

.app-status {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
}

/* fields.css */


input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0.1rem solid rgba(209, 209, 209, 0.5);
    border-radius: .2rem;
    box-shadow: none;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.hidden-file-input > input[type='file'] {
    display: none;
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='week']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
    border-color: #9b4dca;
    outline: 0
}

select {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
    padding-right: 3.0rem
}

select:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%239b4dca" d="M0,0l6,8l6-8"/></svg>')
}

select[multiple] {
    background: none;
    height: auto
}

textarea {
    width: 100%;
    overflow-x: hidden;
}

label, legend {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem
}

fieldset {
    border-width: 0;
    padding: 0
}

input[type='checkbox'], input[type='radio'] {
    display: inline
}

.label-inline {
    display: inline-block;
    font-weight: normal;
    margin-left: .5rem
}

.field-prepend-group {
    display: flex;
}

.field-prepend-group > label {
    display: inline-flex;
    border: 0.1rem solid #d1d1d1;
    border-right: 0;
    border-radius: 0.4rem 0 0 0.4rem;
    height: 3.8rem;
    line-height: 3.6rem;
    padding: 0 1.5rem 0 1.5rem;
    font-size: 1.3rem;
}

.field-prepend-group > button, input[type="submit"] {
    border-radius: 0.4rem 0 0 0.4rem;
}

.field-prepend-group > input {
    border-radius: 0 0.4rem 0.4rem 0;
}

.field-append-group {
    display: flex;
}

.field-append-group > label {
    display: inline-flex;
    border: 0.1rem solid #d1d1d1;
    border-left: 0;
    border-radius: 0 0.4rem 0.4rem 0;
    height: 3.8rem;
    line-height: 3.6rem;
    padding: 0 1.5rem 0 1.5rem;
    font-size: 1.3rem;
}

.field-append-group > input {
    border-radius: 0.4rem 0 0 0.4rem;
}

/* markdown_style.css */

.markup_display {

}

.markup_display > table {
    width: 100%;
    margin-bottom: 2rem!important;
}

/* msc.css */

.tag {
    display: inline-block;
    background-color: #151921;
    color: #a9a9a9;
    padding: 8px 8px;
    margin-top: 8px;
    margin-right: 5px;
    box-shadow: 2px 2px 5px #000000;
}
.tag-no-shadow {
    display: inline-block;
    background-color: #151921;
    color: #a9a9a9;
    padding: 8px 8px;
    margin-top: 8px;
    margin-right: 5px;
}
.del_tag {
    padding: 2px 6px;
    margin-left: 5px;
    background-color: rgba(255, 0, 0, 0.1);
    cursor: pointer;
}

/* nav.css */

.nav {
    max-width: 64rem;
    margin: 0 auto;
    background-color: #0e1117;
    color: #a9a9a9;
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid #30343b;
    box-shadow: 2px 2px 10px #000000;
}

@media (min-width: 64rem) {
    .nav {

    }
}

.nav-group {
    display: flex;
    align-items: center;
}

.nav-logo {
    display: block;
}

.nav-logo img {
    display: block;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link {
    display: block;
    padding: 10px 15px;
}

.nav-link-active {
    background-color: rgba(48, 52, 59, 0.25);
    color: #e1e1e1;
}

.nav-link:hover {
    background-color: rgba(48, 52, 59, 0.25);
    color: #e1e1e1;
}

.active {
    background-color: rgba(48, 52, 59, 0.25);
    color: #e1e1e1;
}


/* spacing.css */

.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-3 {
    margin-top: 1rem;
}
.mt-4 {
    margin-top: 1.5rem;
}
.mt-5 {
    margin-top: 3rem;
}

.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 0.25rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-3 {
    margin-bottom: 1rem;
}
.mb-4 {
    margin-bottom: 1.5rem;
}
.mb-5 {
    margin-bottom: 3rem;
}

.me-0 {
    margin-right: 0;
}
.me-1 {
    margin-right: 0.25rem;
}
.me-2 {
    margin-right: 0.5rem;
}
.me-3 {
    margin-right: 1rem;
}
.me-4 {
    margin-right: 1.5rem;
}
.me-5 {
    margin-right: 3rem;
}

.ms-0 {
    margin-left: 0;
}
.ms-1 {
    margin-left: 0.25rem;
}
.ms-2 {
    margin-left: 0.5rem;
}
.ms-3 {
    margin-left: 1rem;
}
.ms-4 {
    margin-left: 1.5rem;
}
.ms-5 {
    margin-left: 3rem;
}

/* structure.css */

section {
    max-width: 64rem;
    margin: 0.8rem auto;
    position: relative;
}

section > :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 3rem;
    margin-bottom: 1.0rem;
    color: rgba(155, 77, 202);
}

.box {
    background-color: #0e1117;
    color: #a9a9a9;
    box-shadow: 2px 2px 10px #000000;
    border: 1px solid #30343b;
    padding: 0.8rem;
    margin: 0.8rem;
}

.box-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-group {
    display: grid;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    align-items: stretch;
}

.box-group-align-center {
    align-items: center;
}

.box-group-align-start {
    align-items: start;
}

.box-group-grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.box-group-grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.box-group-grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.box-group-grid-4 {
    grid-template-columns: repeat(4, 1fr);
}


.box-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
}

.box-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    justify-content: center;
}

.box-col > :is(h1, h2, h3, h4, h5, h6, p) {
    color: #e1e1e1;
    margin-bottom: 0.8rem;
}

.box-col img {
    width: 100%;
    height: auto;
    border: 1px solid #30343b;
}

.box-list {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
}

.box-list li {
    display: flex;
    flex-direction: row;
    background-color: #151921;
    color: #a9a9a9;
    box-shadow: 2px 2px 5px #000000;
    margin-top: 0.6rem;
}

.box-list * :is(h1, h2, h3, h4, h5, h6) {
    font-size: 1rem;
    letter-spacing: 0.03rem;
    display: block;
    color: #a9a9a9;
    background-color: rgba(155, 77, 202, 0.25);
    padding: 10px;
    margin: 0;
}

.box-list * :is(p) {
    font-size: 1rem;
    color: #a9a9a9;
    padding: 10px;
    margin: 0;
}

.info {
    width: 100%;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}

.scroll-box {
    overflow: auto;
    max-height: 600px;
    margin: 15px 0;
}

.dashboard-header {
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 15px;

}

.alert {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(211, 52, 255, 0.1);
    margin-bottom: 10px;
}

code {
    background: #f4f5f6;
    border-radius: .4rem;
    font-size: 86%;
    margin: 0 .2rem;
    padding: .2rem .5rem;
    white-space: nowrap
}

pre {
    background: #f4f5f6;
    border-left: 0.3rem solid #9b4dca;
    overflow-y: hidden;
    margin-bottom: 1rem !important;
}

pre > code {
    border-radius: 0;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre
}


@media (min-width: 64rem) {
    .box {
        margin: 0;
    }

    .box-group {
        grid-column-gap: 1.6rem;
        grid-row-gap: 1.6rem;
    }

    .box-group-grid-lg-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .box-group-grid-lg-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .box-group-grid-lg-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* table.css */

table {
    width: 100%;
    background-color: #0e1117;
    color: #a9a9a9;
    box-shadow: 2px 2px 10px #000000;
    border: 1px solid #30343b;
}

tbody > tr {
    width: 100%;
    border-bottom: 1px solid #171c25;
}

tbody > tr:hover {
    background-color: #212733;
}

tbody * td {
    padding: 0.8rem;
}

thead * th {
    padding: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #171c25;
    text-align: start;
}

/* typography.css */

.title {
    font-size: 3.2rem;
}

.summary {
    font-weight: bold;
}

.author {
    font-style: italic!important;
    color: rgba(225, 225, 225, 0.6)!important;
}

code, pre {
    background-color: #151921;
    color: #a9a9a9;
    margin: 2px;
}

code {
    display: inline-block;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

b, strong {
    font-weight: bold
}

p {
    margin-top: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    letter-spacing: -.1rem;
    margin-bottom: 1.2rem;
    margin-top: 0;
}

h1 {
    font-size: 3rem;
    line-height: 1.2
}

h2 {
    font-size: 2.8rem;
    line-height: 1.25
}

h3 {
    font-size: 2.6rem;
    line-height: 1.3
}

h4 {
    font-size: 2.4rem;
    letter-spacing: -.08rem;
    line-height: 1.35
}

h5 {
    font-size: 2.2rem;
    letter-spacing: -.05rem;
    line-height: 1.5
}

h6 {
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 1.4
}


/* utilities.css */

.u-bold {
    font-weight: bold;
}

.u-center {
    text-align: center;
}

.u-w100 {
    width: 100%;
}

.u-underline {
    text-decoration: underline;
}

.u-red {
    font-weight: bold;
    color: red;
}

.u-green {
    font-weight: bold;
    color: green;
}

.u-clearfix:after {
    clear: both;
    content: ' ';
    display: table
}

.u-float-left {
    float: left
}

.u-float-right {
    float: right
}

.u-border {
    border: 1px solid #30343b;
}

.u-pointer {
    cursor: pointer;
}

.u-space-between {
    justify-content: space-between;
}

.u-m-0 {
    margin: 0 !important;
}

