{% extends 'theme/extends/backend.html' %}

{% block title %}
    Add Tutorial
{% endblock %}

{% block head %}
{% endblock %}

{% block alpine_resources %}
    <script defer src="{{ url_for('backend.static', filename='alpine:global:store.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('theme.static', filename='highlightjs/highlightjs.atom-one-dark.css') }}">
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
{% endblock %}

{% block container %}
    <div x-data="{
        title: '{{ tutorial.title }}',
        original_slug: '{{ tutorial.slug }}',
        slug: '{{ tutorial.slug }}',
        slug_exists: false,
        summary: '{{ tutorial.summary }}',
        summary_length: 0,
        markup: '-',
        markdown: '-',
        markdown_files: ['No files selected.'],
        all_tags: [],
        tutorial_tags: [],
        removed_from_tutorial_tags: [],
        init() {
            fetch('{{ url_for("backend.tutorials.api_get_all_tutorial_tags") }}', {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                this.all_tags = data['tags']
            }).then(() => {
                {% for tag in tutorial.rel_tutorial_tag_membership %}
                this.tutorial_tags.push('{{ tag.rel_tutorial_tag.tag }}')
                {% endfor %}

                for (let i = 0; i < this.tutorial_tags.length; i++) {
                    let tag = this.tutorial_tags[i]
                    let all_tags_index = this.all_tags.indexOf(tag)
                    if (all_tags_index > -1) {
                        this.removed_from_tutorial_tags.push(this.all_tags[i])
                        this.all_tags.splice(all_tags_index, 1)
                    }
                }
            });
            fetch('{{ url_for("backend.tutorials.api_get_markdown", slug=tutorial.slug) }}', {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                this.markup = data['markup']
                this.markdown = data['markdown']
                this.markdown_files = [data['files']]
            }).then(() => {
                hljs.highlightAll()
            });
        },
        slugger() {
            let slug = this.title
            slug = slug.toLowerCase()
            slug = slug.replace(/[^a-z0-9\s-]/g, '')
            slug = slug.replace(/[\s-]+/g, '-')
            slug = slug.replace(/^-+|-+$/g, '')
            this.slug = slug
        },
        check_if_slug_exists() {
            if (this.slug !== this.original_slug) {
                fetch(`{{ url_for("backend.tutorials.api_check_if_slug_exists") }}?slug=${this.slug}`, {
                    method: 'GET'
                })
                .then(response => response.json())
                .then(data => {
                    this.slug_exists = data['exists']
                })
            }
        },
        convert_markdown() {
            let formData = new FormData()

            for (const file of this.$refs.markdown_file.files) {
                formData.append('markdown_file', file, file.name)
            }

            fetch('{{ url_for("backend.tutorials.api_convert_markdown") }}', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                this.markup = data['markup']
                this.markdown = data['markdown']
                this.markdown_files = data['files']
            }).then(() => {
                hljs.highlightAll()
            });
        },
        add_tag() {
            let tag = this.$refs.add_tag.value
            if (tag.length > 0) {
                let index = this.all_tags.indexOf(tag)
                if (index > -1) {
                    this.all_tags.splice(index, 1)
                    this.removed_from_tutorial_tags.push(tag)
                }
                this.tutorial_tags.push(tag)
                this.$refs.add_tag.value = ''
            }
        },
        del_tag(tag) {
            let index = this.tutorial_tags.indexOf(tag)
            if (index > -1) {
                this.tutorial_tags.splice(index, 1)
                this.all_tags.push(tag)
                this.removed_from_tutorial_tags.splice(this.removed_from_tutorial_tags.indexOf(tag), 1)
            }
        }
    }">

        <form name="edit_tutorial" x-ref="edit_tutorial" method="post" enctype="multipart/form-data">
            <input type="hidden" x-model="title" name="title" value="">
            <input type="hidden" x-model="slug" name="slug" value="">
            <input type="hidden" x-model="summary" name="summary" value="">
            <input type="hidden" x-model="tutorial_tags" name="tutorial_tags" value="">
            <input type="hidden" x-model="markup" name="markup" value="">
            <input type="hidden" x-model="markdown" name="markdown" value="">
            <div class="hidden-file-input">
                <input
                        x-ref="markdown_file"
                        multiple
                        name="markdown_file"
                        type="file"
                        accept=".md, text/markdown"
                        @change.debounce.500ms="convert_markdown()"
                >
            </div>
        </form>
        <section>
            <div class="box">
                <div class="box-row u-space-between">
                    <a class="button" href="{{ url_for('backend.tutorials.index') }}">Cancel</a>
                    <div>
                        <button @click="">Delete Tutorial</button>
                        <button
                                @click="$refs.edit_tutorial.submit()"
                                x-bind:disabled="slug_exists || slug.length < 1"
                        >
                            Update Tutorial
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="box">
                <label for="title">Title</label>
                <input class="u-w100"
                       id="title"
                       name="title"
                       type="text"
                       @input.debounce.200ms="slugger(); check_if_slug_exists()"
                       x-model="title">
                <p x-show="slug_exists" class="u-red" x-cloak>Title already exists, choose another Title!</p>
                <label for="slug">Slug</label>
                <input
                        class="u-w100"
                        id="slug"
                        name="slug"
                        type="text"
                        x-model="slug"
                        readonly
                >
                <label for="summary">Summary</label>
                <textarea
                        name="summary"
                        id="summary"
                        rows="5"
                        maxlength="500"
                        x-ref="summary"
                        x-model="summary"
                        @input.debounce.500ms="summary_length = $el.value.length"
                ></textarea>
                <p><span x-text="summary_length"></span> / 500</p>
            </div>
        </section>
        <section>
            <div class="box">

                <label for="add_tag">Add Tag</label>

                <input id="add_tag" name="add_tag" list="all_tags" x-ref="add_tag" @keydown.enter="add_tag()">

                <datalist id="all_tags">
                    <template x-for="tag in all_tags">
                        <option x-text="tag"></option>
                    </template>
                </datalist>

                <button type="button" @click="add_tag()">Add Tag</button>

                <input type="hidden" x-model="removed_from_tutorial_tags">

                <label for="add_tag">Tags</label>
                <p x-show="tutorial_tags.length < 1">No tags added</p>
                <template x-for="tag in tutorial_tags">
                        <span class="tag">
                            <span x-text="tag"></span>
                            <span class="del_tag" @click="del_tag(tag)">X</span>
                        </span>
                </template>

            </div>
        </section>
        <section>
            <div class="box">

                <label for="markdown_file">Markdown</label>

                <button type="button" @click="$refs.markdown_file.click()" class="me-1">
                    Select File
                </button>

                <template x-for="file in markdown_files">
                        <span class="tag">
                            <span x-text="file"></span>
                        </span>
                </template>

                <button
                        type="button"
                        @click="markup = '-'; markdown = '-'; $refs.markdown_file.value = ''; markdown_files = ['No File Selected']"
                >Clear
                </button>

                <div x-html="markup" class="markup_display mt-4"></div>
            </div>
        </section>
    </div>
{% endblock %}
