<script defer type="application/javascript">
    document.addEventListener('alpine:init', () => {
        Alpine.data('news_index', () => ({
            page: 1,
            pages: 1,
            title_search: '',
            news: [],
            search_active: false,
            search_error: false,
            init() {
                this.get_streams(this.page)
                this.$watch('page', () => {
                    this.display_switch()
                })
            },
            display_switch() {
                if (this.title_search !== '') {
                    this.search_for_streams()
                } else {
                    this.get_streams()
                }
            },
            get_streams() {
                fetch(`{{ url_for("backend.news.api_get_all_news") }}?page=${this.page}`, {
                    method: 'GET',
                })
                    .then(response => response.json())
                    .then(data => {
                        this.news = data['news']
                        this.pages = data['pages']
                        this.page = data['page']
                    })
            },
            search_for_streams() {
                this.search_active = false

                if (this.title_search === '') {
                    this.get_streams(this.page)
                    return
                } else if (this.title_search.length < 1) {
                    return
                }
                let form_data = new FormData()
                form_data.append('search', this.title_search)
                fetch(`{{ url_for("backend.news.api_search_news") }}?page=${this.page}`, {
                    method: 'POST',
                    body: form_data
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data['status'] === 'success') {
                            this.news = data['news']
                            this.pages = data['pages']
                            this.page = data['page']
                        } else {
                            this.news = []
                            this.pages = 1
                            this.page = 1
                        }

                    })
            },

        }))
    })
</script>
