section {
    max-width: 64rem;
    margin: 0.8rem auto;
    position: relative;
}

section > :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 3rem;
    margin-bottom: 1.0rem;
    color: rgba(155, 77, 202);
}

.box {
    background-color: #0e1117;
    color: #a9a9a9;
    box-shadow: 2px 2px 10px #000000;
    border: 1px solid #30343b;
    padding: 0.8rem;
    margin: 0.8rem;
}

.box-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-group {
    display: grid;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    align-items: stretch;
}

.box-group-align-center {
    align-items: center;
}

.box-group-align-start {
    align-items: start;
}

.box-group-grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.box-group-grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.box-group-grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.box-group-grid-4 {
    grid-template-columns: repeat(4, 1fr);
}


.box-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
}

.box-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    justify-content: center;
}

.box-col > :is(h1, h2, h3, h4, h5, h6, p) {
    color: #e1e1e1;
    margin-bottom: 0.8rem;
}

.box-col img {
    width: 100%;
    height: auto;
    border: 1px solid #30343b;
}

.box-list {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
}

.box-list li {
    display: flex;
    flex-direction: row;
    background-color: #151921;
    color: #a9a9a9;
    box-shadow: 2px 2px 5px #000000;
    margin-top: 0.6rem;
}

.box-list * :is(h1, h2, h3, h4, h5, h6) {
    font-size: 1rem;
    letter-spacing: 0.03rem;
    display: block;
    color: #a9a9a9;
    background-color: rgba(155, 77, 202, 0.25);
    padding: 10px;
    margin: 0;
}

.box-list * :is(p) {
    font-size: 1rem;
    color: #a9a9a9;
    padding: 10px;
    margin: 0;
}

.info {
    width: 100%;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}

.scroll-box {
    overflow: auto;
    max-height: 600px;
    margin: 15px 0;
}

.dashboard-header {
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 15px;

}

.alert {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(211, 52, 255, 0.1);
    margin-bottom: 10px;
}

code {
    background: #f4f5f6;
    border-radius: .4rem;
    font-size: 86%;
    margin: 0 .2rem;
    padding: .2rem .5rem;
    white-space: nowrap
}

pre {
    background: #f4f5f6;
    border-left: 0.3rem solid #9b4dca;
    overflow-y: hidden;
    margin-bottom: 1rem !important;
}

pre > code {
    border-radius: 0;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre
}


@media (min-width: 64rem) {
    .box {
        margin: 0;
    }

    .box-group {
        grid-column-gap: 1.6rem;
        grid-row-gap: 1.6rem;
    }

    .box-group-grid-lg-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .box-group-grid-lg-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .box-group-grid-lg-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}
