<script defer type="application/javascript">
    document.addEventListener('alpine:init', () => {
        Alpine.data('streams_edit', () => ({
                show_delete: false,
                show_summary_markup: false,

                stream_id: '{{ stream.stream_id }}',

                url_link: '{{ stream.url_link or '' }}',
                display_url_link: '{{ stream.display_url_link or '' }}',

                no_thumbnail_url: '{{ url_for("theme.static", filename="img/no-thumbnail.png") }}',
                thumbnail: '{{ thumbnail }}',

                viewable: {{ stream.viewable|lower }},
                auto_viewable: {{ stream.auto_viewable|lower }},
                go_viewable_on: '{{ stream.go_viewable_on|datetime }}',

                selected_files: ['No files selected...'],

                upload_thumbnail() {
                    let formData = new FormData()

                    for (const file of this.$refs.thumbnail_file.files) {
                        formData.append('thumbnail_file', file, file.name)
                    }

                    fetch(`{{ url_for("backend.streams.api_upload_thumbnail", stream_id=stream.stream_id) }}`, {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data['status'] === 'success') {
                                this.thumbnail = data['thumbnail']
                                this.selected_files = ['No files selected...']
                            } else {
                                this.thumbnail = ''
                                this.selected_files = ['No files selected...']
                            }
                        }).then(() => {
                    });
                },

                remove_thumbnail() {
                    fetch(`{{ url_for("backend.streams.api_remove_thumbnail", stream_id=stream.stream_id) }}`, {
                        method: 'POST'
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data['status'] === 'success') {
                                this.thumbnail = this.no_thumbnail_url
                            }
                        });
                },

                set_selected_files() {
                    this.selected_files = []
                    for (const file of this.$refs.thumbnail_file.files) {
                        this.selected_files.push(file.name)
                    }
                },

            })
        )
    })
</script>
