{% extends 'theme/extends/backend.html' %}

{% block title %}
    Edit News
{% endblock %}

{% block head %}
{% endblock %}

{% block endpage_js %}
    {% include 'news/includes/alpine:data:news_edit.html' %}
{% endblock %}

{% block container %}
    <div x-data="news_edit">
        <form name="add_news" x-ref="add_news" method="post" enctype="multipart/form-data">
            <section>
                <div class="box">
                    <div class="box-row u-space-between">
                        <a class="button" href="{{ url_for('backend.news.index') }}">Cancel</a>
                        <button type="submit">
                            Update News
                        </button>
                    </div>
                </div>
            </section>
            <section>
                <div class="box">
                    <label for="title">Title</label>
                    <input
                            id="title"
                            name="title"
                            type="text"
                            class="u-w100"
                            x-model="title"
                            @input.debounce.200ms="slugger(); check_if_slug_exists()"
                            required
                    >

                    <p x-show="slug_exists" class="u-red" x-cloak>Title already exists, choose another Title!</p>

                    <label for="slug">Slug</label>
                    <input
                            class="u-w100"
                            id="slug"
                            name="slug"
                            type="text"
                            x-model="slug"
                            readonly
                    >
                    <label for="thumbnail">Thumbnail</label>
                    <input type="file" accept="image/png, image/jpeg" name="thumbnail">

                    <label for="markdown" class="mt-3">Markdown</label>
                    <textarea
                            name="markdown"
                            id="markdown"
                            placeholder="Paste your markdown here..."
                            cols="30"
                            rows="10"
                            required
                    >{{ news.markdown }}</textarea>


                    <label for="viewable">Viewable</label>
                    <div class="u-flex u-align-center mb-3">
                        <div class="tag mt-0"
                             x-text="viewable ? 'Currently Viewable' : 'Currently Hidden'">
                        </div>
                        <button class="button-red"
                                @click="viewable = !viewable"
                                x-text="viewable ? 'Make Hidden' : 'Make Viewable'"
                                :class="viewable ? 'button-red' : 'button-green'">
                        </button>
                    </div>
                    <input type="hidden" name="viewable" x-model="viewable">


                    <label for="release_date">Release Date</label>
                    <input
                            type="datetime-local"
                            id="release_date"
                            name="release_date"
                            value="{{ news.release_date|datetime_local }}"
                            required
                    >

                    <label for="author">Author</label>
                    <input
                            id="author"
                            name="author"
                            type="text"
                            value="{{ news.author }}"
                            required
                    >


                    <label for="author_link">Author URL</label>
                    <input
                            id="author_link"
                            name="author_link"
                            type="text"
                            value="{{ news.author_link }}"
                            required
                    >

                </div>

            </section>
        </form>
        <section>
            <div class="box">
                <label>Article</label>

                {% if "no-thumbnail" not in thumbnail %}
                    <img src="{{ thumbnail }}" alt="{{ news.title }} thumbnail" width="150px">
                {% endif %}

                <h1>{{ news.title }}</h1>

                {{ news.markup|safe }}

            </div>
        </section>
    </div>
{% endblock %}


