{% extends 'theme/extends/backend.html' %}

{% block title %}
    Edit News
{% endblock %}

{% block head %}
{% endblock %}

{% block endpage_js %}
    {% include 'news/includes/alpine:data:news_edit.html' %}
{% endblock %}

{% block container %}
    <div x-data="news_edit">
        <form name="add_news" x-ref="add_news" method="post" enctype="multipart/form-data">
            <section>
                <div class="box">
                    <div class="box-row u-space-between">
                        <a class="button" href="{{ url_for('backend.news.index') }}">Cancel</a>
                        <button type="submit">
                            Update News
                        </button>
                    </div>
                </div>
            </section>
            <section>
                <div class="box">
                    <div class="box-col">
                        <label for="title">Title</label>
                        <input
                                id="title"
                                name="title"
                                type="text"
                                required
                                value="{{ news.title }}"
                        >
                    </div>
                    <div class="box-col">
                        <label for="thumbnail">Thumbnail</label>
                        <input type="file" accept="image/png, image/jpeg" name="thumbnail">
                    </div>
                    <div class="box-col">
                        <label for="markdown">Markdown</label>
                        <textarea
                                name="markdown"
                                id="markdown"
                                placeholder="Paste your markdown here..."
                                cols="30"
                                rows="10"
                                required
                        >{{ news.markdown }}</textarea>
                    </div>
                    <div class="box-col">
                        <label>
                            <input
                                    type="checkbox"
                                    @click="viewable = !viewable"
                                    :checked="viewable"
                            > Viewable</label>
                        <input type="hidden" name="viewable" x-model="viewable">
                    </div>
                    <div class="box-col">
                        <label for="release_date">Release Date</label>
                        <input
                                type="datetime-local"
                                id="release_date"
                                name="release_date"
                                value="{{ news.release_date|datetime_local }}"
                                required
                        >
                    </div>
                    <div class="box-col">
                        <label for="author">Author</label>
                        <input
                                id="author"
                                name="author"
                                type="text"
                                value="{{ news.author }}"
                                required
                        >
                    </div>
                    <div class="box-col">
                        <label for="author_link">Author URL</label>
                        <input
                                id="author_link"
                                name="author_link"
                                type="text"
                                value="{{ news.author_link }}"
                                required
                        >
                    </div>

                </div>

            </section>
        </form>
        <section>
            <div class="box">
                <label>Article</label>

                <img src="{{ thumbnail }}" alt="{{ news.title }} thumbnail" width="150px">
                <h1>{{ news.title }}</h1>
                {{ news.markup|safe }}
            </div>
        </section>
    </div>
{% endblock %}


