{% extends 'theme/extends/admin.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
{% endblock %}

{% block alpine_resources %}
    <script defer src="{{ url_for('admin.static', filename='alpine:global:store.js') }}"></script>
{#    <link rel="stylesheet"#}
{#          href="//unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/default.min.css">#}
    <link rel="stylesheet" href="{{ url_for('theme.static', filename='css/highlightjs.atom-one-dark.css') }}">
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
{% endblock %}

{% block container %}
    <section x-data="{
        markdown: '',
        convert(value, url) {
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'markdown': value})
            })
            .then(response => response.text())
            .then(data => {
                this.markdown = data
                hljs.highlightAll();
            })
        }
    }">
        <form name="admin-guides-add">
            <div class="box">
                <label for="title">Title</label>
                <input class="u-w100" id="title" name="title" type="text">
                <label for="slug">Slug</label>
                <input class="u-w100" id="slug" name="slug" type="text">
                <label for="guide">Guide</label>
                <textarea id="guide" name="guide" style="height: 600px;"
                          @input.debounce.1000ms="convert($el.value, '{{ url_for("admin.guides.api_convert_markdown") }}')"
                ></textarea>
                <div x-ref="markdown" x-html="markdown" class="markdown"></div>
            </div>
        </form>
    </section>
{% endblock %}
